    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
									<br>
									<%= image_tag  "/images/logos/R21.png", :width => 200 %>
                </div>
                <div class="col-lg-12 text-justify">
                    <p>Por acreditar que toda e qualquer pessoa é capaz de melhorar e evoluir, em busca de uma uma vida melhor e com mais realizações, cooperando com a evolução da sociedade e proporcionando um mundo melhor. E com esta visão que criamos a R2coahc, para se tornar referência em crescimento e desenvolvimento de coaches e coachees no mercado nacional, despertando o que há de melhor nas pessoas.

Já nossa missão e nosso compromisso é conduzir e orientar as pessoas em busca de seus principais sonhos e objetivos. Mostrando que todos são capazes de realizarem suas conquistas.<p>
									  </p>
										<p>
											Tudo embasado nos seguintes valores:<br />
											<strong><i>
											1. Ética e honestidade: buscamos o benefício de nossos clientes com transparência.<br />

											2. Confiança: acreditamos que todos podem mudar.<br />

											3. Compromisso: estamos comprometidos em entregar os resultados acordados entre as partes <br />

											4. Excelência: trabalhamos para superar as expectativas de nosso clientes e parceiros, buscando sempre a melhoria contínua nos serviços prestados
											</i></strong>
										</p>
                </div>
            </div>
        </div>
    </section>
