<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">R2 Coach</div>
            <div class="intro-lead-in">Seu alvo, nossa meta!</div>
            <a href="#portfolio" class="page-scroll btn btn-xl">Diga-me como</a>
        </div>
    </div>
</header>
