    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                   <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/services/autoconhecimento.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Coach de autoconhecimento</h4>
                    <p class="text-muted">Você pode assumir o controle da sua vida! Basta se conhecer melhor.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/services/performace.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Coach de alta performace</h4>
                    <p class="text-muted">Aumente sua performace em suas atividades, atendimento individual, realizado por profissional capacitado especialista em alta performance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/services/emagrecimento.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Coach de emagrecimento</h4>
                    <p class="text-muted">Atendimento personalizado, realizado por profissional capacitado e especialista em coach de emagrecimento.</p>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/services/financeiro.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Coach financeiro</h4>
                    <p class="text-muted">Reprograme seu cérebro para organizar suas finanças, atendimento individual, realizado por profissional capacitado e especialista em coach financeiro.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/services/lider.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Líder Coach</h4>
                    <p class="text-muted">Desenvolva a liderança e aumente a eficácia de seus Líderes.</p>
                </div>
            </div>
        </div>
    </section>